@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: lato-regular;
  src: url('./fonts/lato/Lato-Regular.ttf');
}

@font-face {
  font-family: lato-light;
  src: url('./fonts/lato/Lato-Light.ttf');
}

@font-face {
  font-family: lato-thin;
  src: url('./fonts/lato/Lato-Thin.ttf');
}

:root {
  --color-primary: #210641;
  --color-accent: #51fa9f;
}

.panel {
  @apply md:w-1/2 flex-shrink-0 flex flex-col items-center justify-center p-8 pb-12 md:p-12 md:text-center;
}

.detail-item {
  @apply flex gap-4 md:gap-8 text-left;
}
