@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: lato-regular;
  src: url('./fonts/lato/Lato-Regular.ttf');
}

@font-face {
  font-family: lato-light;
  src: url('./fonts/lato/Lato-Light.ttf');
}

@font-face {
  font-family: lato-thin;
  src: url('./fonts/lato/Lato-Thin.ttf');
}

:root {
  --color-primary: #210641;
  --color-accent: #51fa9f;
}

@layer base {
  *:focus-visible {
    outline: none !important;
    box-shadow: 0 0 3px 1px var(--color-primary);
  }
}

@layer components {
  .button {
    @apply px-8 py-2 rounded bg-accent text-primary w-fit;
  }

  .detail-item {
    @apply flex gap-4 md:gap-8 text-left;
  }

  .input {
    @apply w-full px-4 py-2 border border-primary rounded;
  }

  .input:focus-visible {
    box-shadow: 0 0 3px 1px var(--color-accent);
  }

  .panel {
    @apply md:w-1/2 flex-shrink-0 flex flex-col items-center justify-center p-8 pb-12 md:p-12 md:text-center;
  }
}
